<!DOCTYPE html>
<html>
  <head>
    <title>About Us | ShipIT</title>
    <!-- Bootstrap CSS -->
    <%= stylesheet_link_tag 'aboutus', media: 'all', 'data-turbolinks-track': 'reload' %>
    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <!-- Popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <!-- Bootstrap JS -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  </head>
  <body>
    <div class="jumbotron">
      <div class="container">
        <h1>Fast, Reliable, and Affordable Delivery</h1>
        <p class="lead">We are ShipIT, a delivery company that specializes in getting your packages from point A to point B quickly and safely. Our team of expert couriers and state-of-the-art tracking technology ensure that your package arrives on time and in the same condition as when it left.</p>
      </div>
    <div class="container">
        <div class="row">
        <div class="col-md-4">
        <div class="card mb-4 shadow-sm">
        <div class="card-body">
          <h5 class="card-title">Order Creation</h5>
          <p class="card-text">Create a new order quickly and easily with our intuitive order creation process.</p>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card mb-4 shadow-sm">
        <div class="card-body">
          <h5 class="card-title">Tracking</h5>
          <p class="card-text">Stay informed about the status of your delivery with real-time tracking updates.</p>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card mb-4 shadow-sm">
        <div class="card-body">
          <h5 class="card-title">Cost Calculator</h5>
          <p class="card-text">Get an estimate of the cost of your shipment with our easy-to-use cost calculator.</p>
        </div>
      </div>
    </div>
  </div>
</div>
