<!DOCTYPE html>
<html>
<head>
  <title>ShipIT | Careers</title>
  <%= stylesheet_link_tag 'careers', media: 'all', 'data-turbolinks-track': 'reload' %>
</head>
<body>
  <header>
  </header>
  <main>
    <div class="container">
      <section class="job-listings">
        <h2>Job Listings</h2>
        <ul>
          <li>
            <h3>Currier</h3>
            <p>ShipIT is looking for curreirs that will help use reach goals of ShipIT and make it world recognized shipping application.</p>
            <a href="#">Apply Now</a>
          </li>
          <li>
            <h3>UI/UX Designer</h3>
            <p>ShipIT is seeking a talented UI/UX designer to help us create beautiful and intuitive interfaces for our logistics platform.</p>
            <a href="#">Apply Now</a>
          </li>
          <li>
            <h3>Customer Support Specialist</h3>
            <p>ShipIT is looking for a friendly and helpful customer support specialist to assist our clients with their shipping needs.</p>
            <a href="#">Apply Now</a>
          </li>
        </ul>
      </section>
    </div>
  </main>
  <footer class="footer">
    <div class="container">
      <span class="text-muted">&copy; 2023 ShipIT. All Rights Reserved, Vedran Badrov.</span>
    </div>
  </footer>
</body>
</html>
