<p>Calculator form.....</p>

<form>
<label for="fname">First name:</label>
<input type="text" id="fname" name="fname">
</br>
<label for="sname">Second name:</label>
<input type="text" id="sname" name="sname">

Dublin - 50 km
Cork - 255 km
Galway - 200 km
Belfast -170 km
London - 580 km
Edinburgh - 470 km
Glasgow - 395 km
Manchester - 310 km
Birmingham - 370 km
Liverpool - 270 km


</form>