<h1>Currier portal</h1>

<link rel="stylesheet" type="text/css" href="/receiversender.css">
<script src="/receiversender.js"></script>

<div class="portal-container">
  <div class="portal-box">
    <a class="nav-link" href="/currierorder">
      <h2>Browse pending orders</h2>
      <p>Easily create a new order to send your goods from one place to another</p>
    </a>
  </div>
  <div class="portal-box">
    <a class="nav-link" href="/acceptedorder">
      <h2>My accepted orders</h2>
      <p>View and manage your currently active orders</p>
    </a>
  </div>
  <div class="portal-box">
    <a class="nav-link" href="/routeplanner">
      <h2>Plan routes</h2>
      <p>Track the progress of your orders in real-time</p>
    </a>
  </div>
  <div class="portal-box">
    <a class="nav-link" href="/currierhistory">
      <h2>Currier Order History</h2>
      <p>View your past orders and their details</p>
    </a>
  </div>
</div>