<h1>Currier portal</h1>

<a class="nav-link" href="/currierorder">Browse orders</a>
<a class="nav-link" href="/acceptedorder">My accepted orders</a>
<a class="nav-link" href="/routeplanner">Plan routes</a>
<a class="nav-link" href="/curriertrack">Track</a>
<a class="nav-link" href="/currierhistory">History</a>