h1, h2 {
  font-size: 2em;
  margin-top: 2em;
  margin-bottom: 1em;
  color: orange;
}

.card {
  margin-bottom: 2em;
  margin-right: 2em;
  margin-bottom: 2em;
  float: left;
}

.container {
  margin-top: 10px;
  overflow: hidden;
  border-radius: 10px;
}

.card-body {
  background-image: url('navbarbg.jpg');
}

.card-title {
  font-size: 1em;
  color: orange;
}

.card-text {
  font-size: 1em;
  line-height: 1.5;
}

.footer {
  padding: 1em 0;
  position: absolute;
  bottom: 0;
  text-align: center;
}