h1, h2 {
  font-size: 3em;
  margin-top: 2em;
  margin-bottom: 1em;
  color: #007bff;
}

.card {
  margin-bottom: 2em;
}

.card-body {
  background-color: black;
  border-radius: 0.5em;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
}

.card-title {
  font-size: 1.5em;
  color: orange;
}

.card-text {
  font-size: 1.2em;
  line-height: 1.5;
}