form {
  max-width: 500px;
  margin: 0 auto;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  font-family: Arial, sans-serif;
}

h2 {
  text-align: center;
  font-weight: normal;
}

p {
  margin-top: 2px;
  color:black;
}

.field {
  margin-bottom: 20px;
  background-clip: padding-box;
}

label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

input[type="email"],
input[type="password"] {
  background-image: url('navbarbg.jpg');
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  color: orange;
}

.actions {
  text-align: center;
}

input[type="submit"] {
  display: inline-block;
  margin-top: 10px;
  padding: 10px 20px;
  background-color: orange;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  color: #fff;
  text-decoration: none;
  transition: background-color 0.3s ease-in-out;
}

input[type="submit"]:hover {
  background-color: #ff8c00;
}

.shared-links {
  text-align: center;
}

.shared-links a {
  display: inline-block;
  margin-top: 10px;
  padding: 10px 20px;
  background-color: orange;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  color: #fff;
  text-decoration: none;
  transition: background-color 0.3s ease-in-out;
}

.shared-links a:hover {
  background-color: #ff8c00;
}

