body {
  background-image: url('homebg.jpg');
  background-repeat: repeat;
  background-size: cover;
  font-family: Arial, sans-serif;
}

.banner {
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container {
  margin: 0 auto;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  background-image: url('navbarbg.jpg');
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.content {
  text-align: center;
  color: orange;
  
}

.btn-ship {
  margin-top: 5px;
  background-color: orange;
  color: black;
  border-radius: 0.1;
  transition: all 0.3s ease-in-out;
}

.btn-ship:hover {
  background-color: orange;
  color: black;
  border-radius: 0.5rem;
  transform: scale(1.2);
}

h1 {
  font-size: 48px;
  margin: 0;
  color: orange;
}

h2 {
  font-size: 32px;
  margin-bottom: 10px;
  color: orange;
}

p {
  color: orange;
  font-size: 18px;
  line-height: 1.5;
  margin: 0;
}

.cta {
  color: orange;
}

.footer {
  padding: 1em 0;
  position: absolute;
  bottom: 0;
  text-align: center;
}
