.header {
  margin-top: 20px;
  text-align: center;
}

.container {
  max-width: 800px;
  margin: 0 auto;
}

.card {
  margin-bottom: 20px;
  box-shadow: none;
  border: 1px solid black;
  margin-top: 20px;
}

.card-header {
  background-image: url('navbarbg.jpg');
  color: orange;
  text-align: center;
}

.card-header h5 {
  margin-bottom: 15px;
  margin-top: 5px;
}

.card-body {
  padding: 20px;
  color: orange;
}

.card-body p {
  margin-bottom: 5px;
}

.card-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100%;
  border-top: 1px solid rgb(179, 179, 179);
}

.btn-success,
.btn-primary,
.btn-danger {
  margin-top: auto;
  margin-bottom: auto;
  background-color: orange;
  color: black;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  font-weight: bold;
  outline: none;
  transition: all 0.3s ease;
}

.btn-primary:hover,
.btn-danger:hover,
.btn-success:hover {
  opacity: 0.8;
}

.btn-danger {
  width: 100px;
  margin-bottom: 5px;
}

.btn-primary:hover,
.btn-success:hover {
  background-color: rgb(2, 197, 2);
  color: black;
}

