.navbar {
  background-image: url('navbarbg.jpg');
  justify-content: center;
  background-size: cover;
}

.navbar-brand,
.navbar-nav li a {
  color: orange;
}

.navbar-nav li a:hover {
  border-bottom: 2px solid orange;
}

.navbar .nav-item .btn-account .signin .signup .manage {
  background-color: orange;
  border-color: orange;
  color: black;
}

.navbar-nav > li:nth-last-child(2) {
  margin-right: 1rem;
}



  