.navbar {
    background-color: black;
  }
  
  .navbar-brand,
  .navbar-nav li a {
    color: orange;
  }
  
  .navbar-nav li a:hover {
    border-bottom: 2px solid orange;
  }

  .navbar .nav-item .btn-primary {
    background-color: orange;
    border-color: orange;
    color: black;
  }
  