.navbar {
  background-image: url('navbarbg.jpg');
  justify-content: center;
  background-size: cover;
}

.navbar-brand,
.navbar-nav li a,
.navbar-nav li button {
  color: orange;
}

.navbar-brand:hover,
.navbar-nav li a:hover,
.navbar-nav li button:hover {
  color: orange;
}

.navbar-nav li a:hover,
.navbar-nav li button:hover {
  border-bottom: 2px solid orange;
}

.navbar-nav li button {
  background-color: transparent;
  border: none;
  padding: 0;
  cursor: pointer;
}





  