body {
  font-family: 'Roboto', sans-serif; /* change the default font to Roboto */
}

h1 {
  text-align: center;
  font-family: 'Open Sans', sans-serif; /* change the font of h1 to Open Sans */
  font-size: 36px; /* increase the font size */
}

label {
  display: block;
  margin-bottom: 5px;
  margin-top: 15px;
  font-size: 14px;
  font-weight: bold;
  color: orange;
  font-family: 'Roboto', sans-serif; /* change the font of labels to Roboto */
}

input[type=text], textarea {
  width: 100%;
  max-width: 400px;
  padding: 8px;
  border: 1px solid orange;
  border-radius: 4px;
  box-sizing: border-box;
  font-size: 14px;
  font-family: 'Roboto', sans-serif;
  color: orange; /* change the text color to orange */
}

.form-group input[type=datetime-local] {
  width: 100%;
  max-width: 400px;
  padding: 8px;
  border: 1px solid orange;
  border-radius: 4px;
  box-sizing: border-box;
  font-size: 14px;
  font-family: 'Roboto', sans-serif;
  color: orange;
  background-color: rgb(243, 243, 243);
}

.form-group input[type=text] {
  background-color: black;
  color: orange;
}

.form-area {
  background-color: black;
  color: orange;
}

.form-control {
  margin: 0 auto;
  margin-top: 10px;
}

.btn-primary {
  display: block;
  margin: 0 auto;
}
