body {
  font-family: 'Roboto', sans-serif;
}

h1 {
  text-align: center;
  font-family: 'Open Sans', sans-serif; 
  font-size: 36px;
}

label {
  display: block;
  margin-bottom: 5px;
  margin-top: 15px;
  font-size: 14px;
  font-weight: bold;
  color: orange;
  font-family: 'Roboto', sans-serif;
}

input[type=text], textarea {
  width: 100%;
  max-width: 400px;
  padding: 8px;
  border: 1px solid orange;
  border-radius: 4px;
  box-sizing: border-box;
  font-size: 14px;
  font-family: 'Roboto', sans-serif;
  color: orange;
  background-clip: padding-box;
}

.form-group input[type=datetime-local] {
  width: 100%;
  max-width: 400px;
  padding: 8px;
  border: 1px solid orange;
  border-radius: 4px;
  box-sizing: border-box;
  font-size: 14px;
  font-family: 'Roboto', sans-serif;
  color: orange;
  background-color: rgb(243, 243, 243);
}

.form-group input[type=text] {
  background-image: url('navbarbg.jpg');
  color: orange;
  background-clip: padding-box;
}

.form-area {
  background-image: url('navbarbg.jpg');
  color: orange;
}

.datetime-picker {
  background-image: url('navbarbg.jpg');
}

.form-control {
  margin: 0 auto;
  margin-top: 10px;
}

.btn-primary {
  display: block;
  margin: 0 auto;
}
