h1 {
  margin-top: 20px;
}

h2 {
  margin-top: 20px;
}
.portal-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: 100%;
    margin-top: 50px;
  }
  
  .portal-box {
    width: 300px;
    height: 250px;
    margin: 20px;
    background-image: url('navbarbg.jpg');
    border-radius: 10px;
    border: 1px solid #000;
    box-shadow: 0px 0px 10px rgb(214, 164, 26);
    transition: transform 0.2s ease-in-out;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  
  .portal-box:hover {
    transform: scale(1.05);
    border-bottom: 2px solid black;
  }
  
  .portal-box h2 {
    margin-bottom: 10px;
    font-size: 24px;
    color: #333;
    color: orange
  }
  
  .portal-box p {
    font-size: 16px;
    color: #666;
    text-align: center;
    line-height: 1.5;
    color: orange;
  }
  
  .nav-link {
    text-decoration: none;
  }
  